.info {
    padding:5px;

    margin: 20px auto;

    background-color: white;

    width: 60%;

    text-align: start;

    position: relative;

    box-shadow: 1px 1px 30px 1px rgb(189, 189, 189);
}

.info th {
    padding:5px;
    text-align: start;   
    margin-bottom: 100px;
}

.info td {
    padding:5px;

    margin-bottom: 5px;
}

.info td:nth-child(1) {
    width: 60%;
    word-wrap: break-word;
}

.info td:last-child {
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 20px;
}

.info td img:nth-child(2){
    cursor: pointer;
}

.info img{
    width: 25px;
}

.underLine{
    width: 99%;
    height: 1px;

    background-color: #c6c6c6;

    position: absolute;
}

@media (max-width: 800px) {
    .info{
        width: 90%;
    }
}

@media (max-width: 500px) {
    .info{
        width: 97%;
    }
}

