.painel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;

    max-width: 90%;

    margin: 0 auto;
}

.painel__box{
    width: 300px;
    height: 150px;

    background-color: #ffffff;

    border-radius: 5px;

    margin: -50px 0 40px;

    display: flex;
    flex-direction: column;

    padding: 20px 50px;
}

.painel__box > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.painel__box div h2{
    font-weight: 500;
    font-size: 1.3rem;
}

.painel__box p{
    font-size: 2.3rem;

    text-align: center;
    font-weight: 700;

    margin-top: 10px;
}